* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.black {
    opacity: 0.7;
    font-weight: bold;
    font-size: 1rem;
}

.grey {
    color: gray;
    font-weight: lighter;
    font-size: 1rem;
}

header {
    display: flex;
    height: 4rem;
}

header .logo {
    padding-top: 0.6rem;
}

header .content {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    padding-right: 1.5rem;
}

nav li {
    list-style-type: none;
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}



/*Section main*/


main .content {
    display: flex;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.952);
}

main img {
    padding: 2rem 1.5rem;
    display: flex;
}

.text {
    justify-content: center;
    width: 25rem;
    height: auto;
    font-size: 1.5rem;
}

.button {
    text-align: center;
    padding: 0.5rem 0;
    background-color: gray;
}