* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(65, 65, 65);
}

body {
    max-width: 85rem;
    margin: 0 auto;
}

footer {
    background-color: white;
}

h1 {
    font-size: 2.5rem;
    color: rgb(85, 85, 85);
    padding-top: 2rem;
    text-align: center;
}

video {
    width: 94%;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.black {
    opacity: 0.7;
    font-weight: bold;
    font-size: 1.2rem;
}

.grey {
    color: gray;
    font-weight: lighter;
    font-size: 1.2rem;
}

.mobile {
    display: none;
}

header {
    display: flex;
    height: 4rem;
    align-items: center;
    background-color: white;
}

header .logo {
    padding-top: 0.6rem;
}

header .content {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    flex: 1;
}

nav ul {
    display: flex;
    margin-right: 1.5rem;
}

nav li {
    list-style-type: none;
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: rgb(73, 73, 73);
}

nav a:hover {
    color: orange;
    transition: all 1s linear 200ms;
}

/*Mobile header*/

@media only screen and (max-width: 850px) {

    header .content {
        display: none;
    }

    header .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }


}



/*Section main*/



#On-campus .content {
    display: flex;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.952);
}

.img {
    padding: 2rem 1.5rem;
    max-width: 40.625rem;
}

section img {
    width: 100%;
}

.text {
    padding-left: 1.5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
    color:rgb(73, 73, 73)
}

.text h4 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.button {
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    background-color: rgb(73, 73, 73);
    border-radius: 3px;
}

.button:hover {
    transition: all 1s linear 300ms;
    background-color: rgb(199, 130, 3);
}

/*mobile version main*/

@media only screen and (max-width: 850px) {
    #On-campus .content {
        flex-direction: column;
    }

    .img {
        padding: 0;
        max-width: 100%;
    }

    .text {
        padding: 2rem 1rem;
    }
}


/*Information main*/


#Online {
    display: flex;
    padding-bottom: 2rem;
    background-color: white;
}


#Online .text p {
    padding-top: 1.5rem;
}

#Online .text h6 {
    padding-top: 2rem;
}

.pic-txt {
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    width:100%;
}

.pic-txt:hover {
    background-color: rgb(221, 221, 221);
    transition: all 750ms linear 200ms;
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
}

.txt {
    padding-left: 1rem;
    flex-direction: column;
    color:rgb(73, 73, 73)
}

.txt p {
    color: grey;
    padding: 0.5rem 0;
}

.txt a {
    text-decoration: none;
    color: rgb(102, 149, 250)
}

.txt a:hover {
    color:rgb(199, 130, 3);
    transition: all 750ms linear 200ms;
    border-bottom: 1px solid orange;
}

.section-left {
    width: 60%;
}

.section-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 1rem;
    border-left: 1px solid rgb(221, 221, 221);
}

.section-right img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    width: 35%;
}

.section-mobile {
    display: none;
}


/*mobile version information main*/


@media only screen and (max-width: 850px) {
    #Online {
        display: none;
    }

    .section-mobile {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
        background-color: white;
    }

    .txt {
        padding: 2rem 1rem;
    }

    .pic-txt-mobile:hover {
        background-color: rgb(221, 221, 221);
        transition: all 750ms linear 200ms;
        transform: scale(1.03);
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
    }



}


/*Start learning*/



#Start-learning {
    background-color: rgb(236, 236, 236);
}


#Start-learning .pic-txt {
    flex-direction: column;
    align-items: flex-start;
}


#Start-learning .pic-txt {
    margin: 1rem;
}

#Start-learning .txt {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    flex-direction: column;
    color:rgb(73, 73, 73)
}

#Start-learning .txt p {
    color: grey;
    padding-top: 1rem;
    padding-right: 4.5rem;
}

.img-container {
    display: flex;
    padding: 2rem 3.5rem 1rem 3.5rem;
    flex-direction: column;
}

.upper-contain {
    display: flex;
}

.lower-contain {
    display: flex;
}

#Start-learning-mobile {
    display: none;
}


/*Start Learning mobile*/


@media only screen and (max-width: 850px) {
    #Start-learning {
        display: none;
    }

    #Start-learning-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .container-mobile {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .txt-mobile {
        padding: 1rem 0 1rem 1rem;
        margin: 0 2rem 0.5rem 2rem;
        background-color: rgb(219, 219, 219);
    }

    .txt-mobile:hover {
        background-color: rgb(221, 221, 221);
        transition: all 750ms linear 200ms;
        transform: scale(1.03);
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
    }

    .txt-mobile h3 {
        color: rgb(85, 85, 85);
    }
}



/*Thesis exhibit*/



#Thesis-exhibit .content {
        display: flex;
        padding-bottom: 2rem;
}

#Thesis-exhibit .text {
    padding-top: 2rem;
}

#Thesis-exhibit .text p {
    padding-top: 1rem;
}

#Thesis-exhibit {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
}

.videos video {
    display: none;
}



/*Thesis exhibit mobile*/

@media only screen and (max-width: 850px) {
    #Thesis-exhibit .content {
        display: none;
    }

    .videos video {
        display: flex;
        width: 100%;
        margin: 0;
    }

    #Thesis-exhibit h1 {
        padding-bottom: 1rem;
    }

}



/*Footer section*/


.text-foot {
    display: flex;
    padding: 1rem 1.5rem 4rem 1.5rem;
    justify-content: space-between;
}

.text-foot-2 {
    display: flex;
}

.text-foot-2 p {
    padding-left: 1rem;
}


/*Footer section mobile*/

@media only screen and (max-width: 850px) {
    .text-foot-2 {
        display: none;
    }
    
    .text-foot {
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }


}